.form {
  margin-bottom: 30px;
}

input[type='text'] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #076969;
  width: 30%;
  color: #ffffff;
  font-weight: 100;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding-bottom: 5px;
  margin-right: 20px;
}

input[type='text'] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #202020 inset;
  -webkit-text-fill-color: #ffffff;
}

.button {
  border: 0;
  padding: 8px 20px;
  border-radius: 2px;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 0.85rem;
  cursor: pointer;
  color: #ffffff;
  background-color: #076969;
}

.button:active {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .form {
    margin-bottom: 10px;
  }

  input[type='text'] {
    width: 47%;
    font-size: 0.9rem;
    margin-right: 10px;
  }
  input[type='text']#country {
    margin-right: 0;
  }

  .button {
    display: block;
    width: 65%;
    font-size: 0.6rem;
    margin: 10px auto 0 auto;
  }
}

@media only screen and (max-width: 725px) {
  .button {
    padding: 8px 15px;
  }
}

@media only screen and (min-width: 600px) {
  input[type='text'] {
    font-size: 1rem;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 665px) {
  input[type='text'] {
    width: 27%;
    font-size: 0.9rem;
  }

  .button {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 992px) {
  input[type='text'] {
    font-size: 1.2rem;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  input[type='text'] {
    font-size: 1.5rem;
    margin-right: 20px;
  }

  .button {
    font-size: 1.25rem;
  }
}
