.weather__info {
  width: 60%;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #076969;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  padding: 20px 0;
  font-weight: 400;
}
.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #ffffff;
  font-weight: 200;
}

.weather__error {
  color: #f16051;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  .weather__info {
    width: 100%;
    font-size: 0.9rem;
  }

  .weather__key {
    padding: 10px 0;
  }
}
